* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #c5c5c5;
}

#root {
  @apply flex h-screen;
}

* {
  /* outline: 1px solid red; */
}

.contrubute_background {
  background: url(../image/noise.png) lightgray 0% 0% / 100px 100px repeat;
  /* mix-blend-mode: overlay; */
  flex-shrink: 0;
}

.custom_gradient {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.908000700280112) 0%,
    rgba(32, 32, 32, 1) 0%,
    rgba(41, 41, 41, 1) 0%,
    rgba(181, 181, 181, 1) 100%,
    rgba(186, 186, 186, 1) 100%,
    rgba(242, 242, 242, 1) 100%,
    rgba(148, 148, 148, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.908000700280112) 0%,
    rgba(32, 32, 32, 1) 0%,
    rgba(41, 41, 41, 1) 0%,
    rgba(181, 181, 181, 1) 100%,
    rgba(186, 186, 186, 1) 100%,
    rgba(242, 242, 242, 1) 100%,
    rgba(148, 148, 148, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.908000700280112) 0%,
    rgba(32, 32, 32, 1) 0%,
    rgba(41, 41, 41, 1) 0%,
    rgba(181, 181, 181, 1) 100%,
    rgba(186, 186, 186, 1) 100%,
    rgba(242, 242, 242, 1) 100%,
    rgba(148, 148, 148, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#949494",GradientType=1);
}
